<p>לפניך יוצגו תמונות של גברים שייתכן שהשתתפו בסרטון.</p><p>  אנה סמן/י את מי שהשתתף בסרטון, ועד כמה אתה בטוח/ה לגבי כל אחת מהתמונות  </p><p>אין תשובות נכונות או שגויות. אנו מעוניינים בדעותיך האמיתיות.</p>