<div class="panel panel-info" style="margin-top:1em">

	<div class="panel-body">
       <p> תודה שהשתתפת! </p>
                <p>
                    מבחן המיון שהרגע עשית נקרא מבחן האגודה המשתמעת (IAT).
                </p>

        <div class="jumbotron jumbotron-dark">
            <h2>ואילו הם התוצאות:</h2>
            <p><%= global.weightIat.feedback %></p>
        </div>
	</div>
</div>

